* { /* universal */
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: rgb(82, 81, 81);
  }
  
  /* Style the header */
  .header {
    /*background-color: #f1f1f1;*/
    background-image:url('img/banner.png');
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:center center;
    padding: 130px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: comic sans ms;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
    padding: 10px;
    text-align: center;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }

  .column.middle h2{
    font-size: 250%;
    text-align: center;
    font-family: Cooper Black;
    color: #FFC100;
  }

  .column.middle h5{
    text-align: center;
    font-size: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
  }

  .column.middle h3{
    font-size: 100%;
    font-family: comic sans ms;
    color: #fff;
  }

  .column.middle table{
    border-style: none;
    padding: 3%;
  }

  .column.middle table td{
    width: 0%;
  }

  .column.middle table td p{
    font-family: comic sans ms;
    color: #fff;
    text-align: right;
  }

  .column.middle img{
    width: 100%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both; /* membersihkan float left sebelumnya */
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  
  /* Style the footer */
  .footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }

  .footer p{
    color: #ffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
  }

  .aku{
    width: 5%;
  }

  .icon img{
    width: 1%;
  }

  .icon a:hover{
    background-color: #ddd;
    color: #333;
  }